/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 27-may-2020, 1:44:45
    Author     : MiPc
*/
body{
    background-color:LightCyan;
    animation-name: celcanvi;
    animation-duration: 600s;
    animation-iteration-count: infinite;
    animation-delay: 0s;
}
.cel{
    background-color: blue;
}

.boleta {
    position:absolute;
    width: 30px;
    height: 30px;
    border-radius: 30px;
   
    background-size: 60px;
    border-color: blue;
    background-color: greenyellow;
 }
.sol {
    position:absolute;
   
    background-size: 100px;
    left:30px;
    top:10px;
    width: 100px;
    height: 100px;
    border-radius: 100%;
    background-color: yellow;
    animation-name: solcanvi1;
    animation-duration: 600s;
    animation-iteration-count: infinite;
    animation-delay: 0s;
}
.aura1 {
    position:absolute;
    width: 120px;
    height: 120px;
    border-radius: 100%;
    background-color: white;
    opacity: 0.3;
    animation-name: aurachange;
    animation-duration: 600s;
    animation-iteration-count: infinite;
    animation-delay: 0s;
} 
.aura2 {
  position:absolute;
  left: - 20px;
  top:-40px;
  width: 220px;
  height: 220px;
  border-radius: 100%;
  background-color: white;
  opacity: 0.3;
  animation-name: aurachange;
  animation-duration: 600s;
  animation-iteration-count: infinite;
  animation-delay: 0s;
} 
.solbunch {
  position:absolute;
  animation-name: mousol;
  animation-duration: 600s;
  animation-iteration-count: infinite;
  animation-delay: 0s;
}

@keyframes mousol {
   0%   {left:100%;background-color:#eafeff }
   30%   {left:50%;background-color:#eafeff }
  90%  {left:-15%;background-color:#f7d7ab  }
  100%  {left:-20%;background-color:#eafeff  }
}
@keyframes celcanvi {
   0%   {left:100%;background-color:LightCyan }
   40%   {left:50%;background-color:LightCyan }
   43%   {left:50%;background-color:#f3f7d1 }
   54%   {left:50%;background-color:#f3f7d1 }
   67%   {left:50%;background-color:#ffa28b }
  96%  {left:-10%;background-color:#ffa28b  }
  100%  {left:-20%;background-color:LightCyan  }
}
@keyframes solcanvi1 {
  0%   {background-color:yellow }
  40%  {background-color:yellow }
  50%  {background-color:#f8d153 }
  80%  {background-color:orange }
  90%  {background-color:orange }
  100%  {background-color:yellow }
}

@keyframes aurachange{
    0%   {opacity:1 }
   40%   {opacity:1 }
   43%   {opacity:0.6 }
   54%   {opacity:0.4; background-color: white }
   67%   {opacity:0.5; background-color: yellow }
  96%  {opacity:0.5; background-color: yellow  }
  100%  {opacity:1; background-color: white  }
}